<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일반 로그인</title>
</head>
<body>
    <form action="http://localhost:3000/auth/login" method="post">
        Email : <input type="email" name="email" placeholder="이메일">
        <br>
        Password : <input type="text" name="password" placeholder="패스워드">
        <hr>
        <button type="submit">로그인</button>
    </form>
</body>
</html>